.Container {
  max-width: 400px;
  width: 90%;
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

h1 {
  text-align: center;
}

.TodoList_describe {
  margin: 20px 0px;
  font-style: italic;
  text-align: center;
}

.TodoList {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.TodoList__item {
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: rgb(126 174 248 / 25%);
  box-shadow: 4px 4px rgb(0 0 0 / 15%);
  margin-bottom: 20px;
}

.TodoList__item:last-child {
  margin-bottom: 0px;
}

.TodoList__checkbox {
  width: 17px;
  height: 17px;
  margin-right: 15px;
}

.Todolist__text {
  margin-right: 20px;
  font-size: 20px;
}

.Todolist__btn {
  position: absolute;
  right: 25px;
  background-color: rgb(8 107 228);
  width: 80px;
  height: 35px;
  padding: 5px;
  color: white;
}
